/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family: 'Kablammo', cursive;
}

/* GENERAL */


.container{
    background-image: url(https://img.freepik.com/free-vector/classic-vintage-rays-sunburst-retro-background_1017-33769.jpg?w=2000);
    min-height: 100vh;
    background-position: center center;

}
.grid-container{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#click-me{
    border:1px solid black;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    background-color: #57665C;
    padding: 15px 32px;
    color: white;

}

#punteggio{
    border:1px solid black;
    border-radius: 30px;
    font-size: 16px;
    background-color: #57665C;
    padding: 15px 32px;
    color: white;
    margin-left: 20px;
}

h2{
    color : white;
    text-shadow: 1px 1px 2px black;
    margin: 5px

}

.grid-container > .cell {
    width: 10%;
    height: 50px;
    text-align: center;
    border: 5px solid #B8503C;
    background-color: #E8DEA5;
    cursor: pointer;
}

.grid-container > .cell.active {
    background-color: #57665C;
   
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}